 body {
    margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     
     background-color: #cfcfcf; 
    color: #000;
}

img {
    max-width: 100%;
    display: block;

}

header {
    flex-direction: row;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 150px 0px;
    font-size: clamp(20px, 4vw, 50px);
    text-transform: uppercase;
    display: grid;   /* Grid a volte è più preciso di Flex per un singolo testo */
    place-items: center; 
    width: 100%;
    margin: 0;
}

.feature {
    position: relative; /* Fondamentale: fa da ancora per tutto ciò che c'è dentro */
    display: flex;
    align-items: center; /* Centra il testo verticalmente */
    justify-content: center; /* Centra il testo orizzontalmente */
    min-height: 80vh; /* Altezza minima per dare respiro all'immagine */
    padding: 100px 5%;
    overflow: hidden;
}

.icon-box {
    position: absolute; /* L'immagine esce dal flusso e si piazza "sotto" */
    z-index: 1; /* Livello basso */
    width: 70vw;
    max-width: 1000px; /* Impedisce all'immagine di diventare enorme */
    opacity: 0.1; /* Effetto watermark come nel tuo progetto */
    pointer-events: none;
    display: flex;
    justify-content: center;
    mix-blend-mode: multiply;
}

.icon-box img {
    width: 100%;
    height: auto;
    display: block;
}

.text-box {
    position: relative;
    z-index: 2;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 96px;
    padding: 0 200px;
}

.text-box h2 {
     /* Prende metà spazio */
    font-size: clamp(20px, 4vw, 55px);
    text-align: left;
}

.text-box p {
     /* Prende l'altra metà */
    font-size: clamp(10px, 1.8vw, 20px);
    text-align: left;
}

@media (max-width: 768px) {
    .text-box {
        flex-direction: column; /* Diventa una colonna su mobile */
        gap: 0px; /* Riduce lo spazio tra titolo e testo */
        padding: 0px 70px;
        text-align: center;
    }
    .text-box h2, .text-box p {
        text-align: center; /* Centra tutto per il mobile */
        flex: none; /* Rimuove il vincolo della larghezza condivisa */
        width: 100%;
    }
    .feature {
        padding: 40px 20px;
    }

}

footer {
    flex-direction: row;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 150px 0px;
    font-size: clamp(20px, 4vw, 70px);
    text-transform: uppercase;
    display: grid;   /* Grid a volte è più preciso di Flex per un singolo testo */
    place-items: center; 
    width: 100%;
    margin: 0;
}




